.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 24px;

  ion-avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
    border: 3px solid var(--ion-color-light-shade);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  ion-button {
    --color: var(--ion-color-primary);
    text-transform: none; // Agar tulisan tidak kapital semua
  }
}

.form-list {
  margin-bottom: 16px;
  ion-item {
    --padding-start: 0; // Menghilangkan padding kiri default item
    ion-icon {
      margin-right: 10px; // Jarak antara ikon dan label
      font-size: 1.2em; // Ukuran ikon sedikit lebih besar
    }
  }
}

.save-button {
  margin-top: 24px;
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  --background: #FF6B00; /* ganti ini dengan warna yang kamu mau */
  --color: white;         /* warna teks/icon di dalam tombol */
  --border-radius: 8px;   /* opsional, buat lebih rounded */
}

.password-section {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid var(--ion-color-medium-tint);

  ion-item-divider {
    --background: transparent;
    --padding-start: 0;
    --inner-padding-end: 0;
    font-size: 1.1em;
    font-weight: 500;
    color: var(--ion-color-dark-shade);
    margin-bottom: 8px;
  }
}

.ubah-password {
  --background: #FF6B00; /* ganti ini dengan warna yang kamu mau */
  --color: white;         /* warna teks/icon di dalam tombol */
  --border-radius: 8px;   /* opsional, buat lebih rounded */
}

// Memberikan sedikit ruang di bagian bawah konten
ion-content {
  --padding-bottom: 20px;
}
